{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": 0,
    "no-magic-numbers": 0,
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "jsx-a11y/accessible-emoji": false,
    "react/forbid-prop-types": false,
    "react/prefer-es6-class": 0,
    "react/no-multi-comp": 0,
    "react/prefer-stateless-function": false,
    "react/jsx-filename-extension": false,
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          ">",
          "}"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "TimelineLite": false,
    "TimelineMax": false,
    "TweenLite": false,
    "TweenMax": false,
    "Back": false,
    "Bounce": false,
    "Circ": false,
    "Cubic": false,
    "Ease": false,
    "EaseLookup": false,
    "Elastic": false,
    "Expo": false,
    "Linear": false,
    "Power0": false,
    "Power1": false,
    "Power2": false,
    "Power3": false,
    "Power4": false,
    "Quad": false,
    "Quart": false,
    "Quint": false,
    "RoughEase": false,
    "Sine": false,
    "SlowMo": false,
    "SteppedEase": false,
    "Strong": false,
    "Draggable": false,
    "SplitText": false,
    "VelocityTracker": false,
    "CSSPlugin": false,
    "ThrowPropsPlugin": false,
    "BezierPlugin": false,
    "CustomBounce": false
  }
}